body {
  background-color: lightcyan;
}
.items {
  border: 1px solid blue;
  position: absolute;
  width: 1386px;
  height: 462px;
  left: 50%;
  top: 50%;
  margin-top: -225px;
  margin-left: -675px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}
.items .item {
  width: 450px;
  height: 450px;
  min-width: 450px;
  min-height: 450px;
  position: relative;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #9999ff;
  box-shadow: inset 0px 0px 20px 10px #9999ff;
}
.items .item.selected,
.items .item:hover {
  border: 1px solid #1a1aff;
  box-shadow: inset 0px 0px 20px 10px #1a1aff;
  cursor: pointer;
}
.items .item.hidden {
  display: none;
}
.items .item .image {
  width: 270px;
  height: 270px;
  margin-left: 90px;
  margin-top: 20px;
}
.items .item .image img {
  width: 270px;
  height: 270px;
  border: 1px solid blue;
}
.items .item .title {
  width: 405px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 22.5px;
  margin-right: 22.5px;
  margin-top: 20px;
  text-align: center;
}
.items .item .type {
  width: 405px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 22.5px;
  margin-right: 22.5px;
  margin-top: 20px;
  text-align: center;
}
.items .item .parent_mark {
  position: absolute;
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
}
.items .item .child_mark {
  position: absolute;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
}
header .logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 200px;
  display: block;
}
footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
}
footer .copyright {
  position: absolute;
  text-align: left;
  left: 50px;
}
footer .version {
  position: absolute;
  text-align: right;
  right: 50px;
}
